body {
    background-color: #ececec;
    background-image: url(files/OEnKKXvdbDU-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Baloo 2', cursive;
    color: #404040;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 13%;
    /* align menu/header items on center */
    align-items: center;
    justify-content: center;
    display: flex;
}

#nlogo {
    fill: #404040;
    transition: 0.3s;
    position: absolute;
    width: 4%;
    left: 50px;
    top: auto;
    min-height: 35%;
    max-height: 35%;
    cursor: pointer;
    user-select: none;
    transform: scale(100%);
} #nlogo:hover { transition: 0.2s; filter:invert(30%); transform: scale(94%); }

ul {
    list-style: none;
    text-align: center;
    line-height: 33px;
    user-select: none;
    cursor: auto;
}

ul li {
    display: inline;
    position: relative;
}

ul li a {
    transition: 0.3s;
    cursor: pointer;
    padding-left: 30px;
    padding: 18pt;
} 

#novelID_mnu {
    color: #dd7000;
} #novelID_mnu:hover { transition: 0.3s; color: #33bbcc; }

ul li a:hover { transition: 0.3s; color: #33bbcc; }

#socialIcons {
    position: absolute;
    display: flex;
    right: 7%;
    top: 37%;
}

.rsico {
    padding-left: 15pt;
    display: block;
}

#wlogo {
    transition: 0.3s;
    font-size: 23px;
    top: auto;
    user-select: none;
    cursor: pointer;
} #wlogo:hover { transition: 0.3s; color: #087c08; }

#ilogo {
    transition: 0.3s;
    font-size: 23px;
    top: 33%;
    user-select: none;
    cursor: pointer;
} #ilogo:hover { transition: 0.3s; color: #8d0086; }

iframe {
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 4px #0215185e;
}
