body {
    background: #04292e;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 65px;
}

#nlogo {
    transition: 0.3s;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 15px;
    cursor: pointer;
    user-select: none;
} #nlogo:hover { transition: 0.3s; filter: opacity(0.7);}

ul {
    list-style: none;
    text-align: center;
    line-height: 33px;
    user-select: none;
    cursor: auto;
}

ul li {
    display: inline;
    word-spacing: 60px;
    position: relative;
}

ul li a {
    transition: 0.3s;
    cursor: pointer;
    padding-left: 30px;
    padding: 10pt;
} 

ul li a:hover { transition: 0.3s; color: #ff5e00; }

#socialIcons { position: relative; }

#wlogo {
    transition: 0.3s;
    color: white;
    font-size: 25px;
    position: fixed;
    height: 12px;
    top: 17px;
    right: 95px;
    user-select: none;
    cursor: pointer;
} #wlogo:hover { transition: 0.3s; color: rgb(26, 189, 26); }

#ilogo {
    transition: 0.3s;
    color: white;
    font-size: 25px;
    position: fixed;
    height: 220px;
    top: 18px;
    right: 60px;
    user-select: none;
    cursor: pointer;
} #ilogo:hover { transition: 0.3s; color: rgb(228, 96, 221); }

#banner {
    position:absolute;
    margin-top: 65px;
    background-color: #04292e;
    width: 100%;
    height: 400px;
    display: inline-flex;
    justify-content: center;
} .insideBanner { margin: 10px; margin-top: 5%;}

#h2frase {
    margin-top: 25px;
    position: absolute;
    text-align: center;
    font-size: 28pt;
    font-weight: 500;
}

#h3frase {
    position: absolute;
    margin-top: 70px;
    text-align: center;
    font-size: 12pt;
    font-weight: 300;
}

.sampleVid {
    width: 320px;
    height: 180px;
    background: black;
    border-radius: 8px;
}

.portBut {
    cursor: pointer;
    color: white;
    background: #ff5e0088;
    border-style: none;
    border-radius: 5px;
    outline-style: none;
    transition: 0.3s;
    width: 90px;
    height: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
    display: block;
    margin: auto;
    margin-top: 8px;
    transform: scale(100%);
    transform-origin: center;
}

#banner input:hover { vertical-align: middle; background: #ff5e00; transition: 0.3s; transform: scale(105%); }
#banner input:active { background: #6d2800; transition: 0.1s; transform: scale(95%); }
#banner p { text-align: center; justify-content: center;  margin-left: -10px; vertical-align: middle;}
#banner p span { vertical-align: middle; margin-top: -8px; user-select: none;}